<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <a href="/home">Home</a>
    <a>Log in</a>
    <form action="" method="post" class="form-contact">
            {{ form.hidden_tag() }}
            {{ form.email.label() }} {{ form.email() }}
            {{ form.password.label() }} {{ form.password() }}
            {{ form.remember.label() }} {{ form.remember() }}
            {{ form.submit() }}
        <hr align=left width="300px">
        <a href="{{url_for('registration')}}">Регистрация</a>
    </form>
</body>
</html>