<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
	  <a href="{{url_for('profile')}}">Выйти настроек профиля</a>
	  <form action="profilesettings?f=prof" method="POST">
      {{ formUP.hidden_tag() }}
            {{ formUP.name.label() }} {{ formUP.name() }}
            {{ formUP.age.label() }} {{ formUP.age() }}
            {{ formUP.aboutUser.label() }} {{ formUP.aboutUser() }}
            {{ formUP.submit() }}
	  </form>

	  <form action="profilesettings?f=pass" method="POST">
		  	{{ formCP.oldpassword.label() }} {{ formCP.oldpassword() }}
            {{ formCP.newpassword.label() }} {{ formCP.newpassword() }}
		  	{{ formCP.repeatpassword.label() }} {{ formCP.repeatpassword() }}
            {{ formCP.submit() }}
	  </form>

	  </table>
</body>
</html>