<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form action="" method="post" class="form-contact">
            {{ form.hidden_tag() }}
			{{ form.name.label() }} {{ form.name() }}
            {{ form.email.label() }} {{ form.email() }}
            {{ form.password.label() }} {{ form.password() }}
            {{ form.repeatPassword.label() }} {{ form.repeatPassword() }}
            {{ form.submit() }}
        <hr align=left width="300px">
    </form>
	Already have an account? <a href="/login">Login</a>
	<br/>
	<a href="/home"> Home </a>
</body>
</html>